# python temp files
*__pycache__*

*.pyc

# These files are too big for upload
SingleLine_EnrichedGenomes.faa
SingleLine_deepnog.csv
diamond-out.tsv

trash/*

tmp/*

# output from iqtree
*.mldist
*.splits.nex
*.bionj
*.ckp.gz
*.model.gz

ecceTERA_output/*

raxml_gene_trees/*
