# python temp files
*__pycache__*

*.pyc

# These files are too big for upload
SingleLine_EnrichedGenomes.faa
SingleLine_deepnog.csv
diamond-out.tsv

trash/*

tmp/*

# output from iqtree
*.mldist
*.splits.nex
*.bionj
*.ckp.gz
*.model.gz

# we only analyze symmetric_reconciliation.recPhyloXML
ecceTERA_output/*_random_reconciliation.recPhyloXML
ecceTERA_output/*_asymmetric_reconciliation.recPhyloXML
